django==3.2.15
djangorestframework
mimesis
channels==3.0.1
daphne==3.0.1
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
django-on-heroku
drf-yasg
drf-yasg[validation]
djangorestframework-simplejwt
tinytag
pydub
django-storages
boto3
